body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, sans-serif;
  background-color: pink;
}

.centered-content {
  text-align: center;
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

img {
  max-width: 100%;
  height: auto; /* Agar gambar tidak terdistorsi */
}

button {
  width: 100px;
  margin: 20px 20px 0 20px;
  position: relative;
}

/* Menambahkan aturan media query untuk responsivitas */
@media screen and (max-width: 768px) {
  body {
      justify-content: flex-start; /* Untuk menghindari pertengahan layar pada perangkat kecil */
  }

  .centered-content {
      padding: 20px; /* Padding untuk konten di perangkat kecil */
  }

  button {
      width: 100%; /* Tombol akan memenuhi lebar container pada perangkat kecil */
      margin: 20px 0; /* Margin diubah agar lebih sesuai pada perangkat kecil */
  }
}
